html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header{
    background-color: grey;
}

.container
{
	display: flex;
	justify-content: space-between;
    /* //background-color: gray; */
    align-items: center;
    padding: 10px 50px 10px 80px;
}
#nav ul {
	display: flex;
}
#nav ul li a:link {
	padding: 10px;
	text-decoration: none;
	color: white;
}
#banner{
	background-color: greenyellow;
}
#engage{
	padding: 25px 0px 25px 80px;
}
h1{
	font-weight: bold;
	font-size: 40px;
}
p{
	padding: 10px 0px;
}
#main {
	padding: 20px 250px 0px 80px;
}
h2{
	font-size:25px ;
	color: black;
}
#block1, #block2, #block3{
	width:370px;
	height: 350px;
}
.images{
	padding: 0px 250px 0px 80px;
	display:flex;
	justify-content: space-between;

}
img{
	width: 370px;
	height: 250px;
}
h4{
	color:blue;
	font-size: 20px;
	margin-top: 10px;
}
#footer{
	background-color: rgb(255, 162, 0);
	display: flex;
	justify-content: space-between;
	padding: 0px 250px 0px 80px;
}
#dp,#eu,#cs{
	width:370px;
	padding: 30px 0px 30px 0px;
}
h3{
	font-size: 20px;
	font-weight: 200;
}
